html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.todo-box {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(128, 128, 128, 0.3);
    max-width: 500px;
    width: 100%;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font: 300;
    color: black
}

.descrip {
    font: 100;
    color: darkgray;
}

.footer {
    border-top: revert;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
